img {
  vertical-align: middle;
}

.Log .logo img {
  border-radius: 80px;
  width: 160px;
  height: 160px;
  margin-top: 40px;
}

.Log .form .am-list-item {
  width: 300px;
}

.Log .form .am-button-primary {
  width: 314px;
  background: #48B5D6;
}

.Log .form .help {
  width: 300px;
  display: flex;
  justify-content: space-between;
  color: #48B5D6;
}

.Log .form .help a {
  color: #48B5D6;
}

.Log .agreement {
  color: #BDC4CE;
  height: 50px;
  margin-top: 120px;
}
