.Main .header {
  background: #48B5D6;
  padding: 5px 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.Main .header .city {
  font-size: 16px;
  line-height: 30px;
}

.Main .header .city a {
  color: #fff;
}

.Main .header .am-flexbox {
  border-radius: 20px;
  margin: 0px 10px;
}

.Main .header .am-flexbox .am-list-item .am-input-label {
  color: #cccc;
  width: 25px;
}

.Main .header .am-flexbox .am-list-item input {
  font-size: 16px;
}

.Main .header img {
  width: 30px;
  height: 30px;
  line-height: 40px;
}

.Main .banner .am-wingblank.am-wingblank-lg {
  margin: 0;
}

.Main .banner .am-wingblank.am-wingblank-lg .silder-list {
  height: 200px;
}

.Main .navgiter {
  background: #fff;
  padding: 15px 15px 0px;
  margin-bottom: 15px;
}

.Main .navgiter .flex {
  display: flex;
  justify-content: space-around;
}

.Main .navgiter .column {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15px;
}

.Main .navgiter .column span {
  font-size: 14px;
  margin-top: 5px;
  color: #878787;
}

.Main .navgiter img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.Main p {
  margin: 0;
  padding: 0;
}

.Main .help {
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
}

.Main .help p {
  margin-bottom: 10px;
  color: #48B5D6;
  font-size: 18px;
  font-weight: bold;
}

.Main .help p span {
  color: #878787;
  font-size: 14px;
  margin-left: 10px;
  font-weight: 400;
}

.Main .help .flex {
  display: flex;
  justify-content: space-around;
}

.Main .help .column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Main .help .column span {
  font-size: 14px;
  margin-top: 5px;
  color: #878787;
}

.Main .help img {
  width: 50px;
  height: 50px;
}

.Main .like {
  background: #fff;
  padding: 10px;
}

.Main .like .flex {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.Main .like .flex1 {
  display: flex;
  justify-content: space-between;
}

.Main .like .intro {
  width: 150px;
  color: #878787;
  font-size: 12px;
  line-height: 25px;
  margin-left: 5px;
}

.Main .like .intro p:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.Main .like .price {
  color: #FF0000;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  text-align: right;
}

.Main .like img {
  width: 90px;
  height: 100px;
}
